<!doctype html>
<html>
<head>
    <title>Portfolio 2017 | Esther Tan | Software Engineer</title>

    <!-- compatibility for different screen sizes + description -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="<(￣︶￣)>Software Engineer & Gamer. 🍺Gastronome & Player of pool, ping pong, badminton & Linguist of Japanese, Korean, Chinese" />

    <!-- Bootstrap & CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/united/bootstrap.min.css"
          rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>
<body>

<div id="root"></div>

<!-- react -->
<script src="http://unpkg.com/react/dist/react.js"></script>
<script src="http://unpkg.com/react-dom/dist/react-dom.js"></script>

<!-- react-router, for making our single-page-app -->
<script src="https://unpkg.com/react-router@3.0.0/umd/ReactRouter.js"></script>

<!-- to convert our jsx -->
<script src="http://unpkg.com/babel-standalone"></script>

<!-- sub-components we use -->
<!-- <script src="static/statusbox.jsx" type="text/jsx"></script>
<script src="static/countbox.jsx" type="text/jsx"></script> -->

<!-- "pages" within the app -->
<script src="static/homepage.jsx" type="text/babel"></script>
<script src="static/aboutme.jsx" type="text/babel"></script>
<script src="static/projects.jsx" type="text/babel"></script>
<script src="static/connect.jsx" type="text/babel"></script>

<!-- our overall site application JS -->
<script src="static/portfolio.jsx" type="text/jsx"></script>

</body>
</html>
